# Directorios de construcción
target/
build/

# Archivos específicos de Maven
!.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
dependency-reduced-pom.xml

# Archivos específicos de IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Configuraciones locales del IDE
*.log
*.tmp
*.swp
*.swo

# Configuración de SO (Windows/Mac/Linux)
.DS_Store
Thumbs.db
*.~lock.*
*~

# Archivos de configuración específicos de entornos
*.env
*.env.local
*.env.*
*.config

# Archivos de configuración sensibles
application.properties
application.yml

# Archivos generados por el sistema
hs_err_pid*